<h1>Books</h1>
<% @books.each do |book| %>
<span>

  <P>Title</P>
  <span><%= book.title %></span>

  <P>Body</P>
  <span><%= book.body %></span>

  <%= link_to 'Show', book_path(book.id) %>
  <%= link_to 'Edit', books_edit_path(@books.id) %>
  <%= link_to 'Destroy', URL, method: :delete, data: { confirm: 'Are you sure?' } %>



</span>
<% end %>



<h2>New book</h2>
<%= form_with model: Book.new do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>







