<div>
    <%= flash[:notice] %>
</div>

<P>Title:<%= @book.title %></p>

  
<P>Body:<%= @book.body %></P>
     


<%= link_to 'Edit', edit_book_path(@book.id) %>
      | 
<%= link_to 'Back', "/books" %>


</div>